tags
config/databases.yml
lib/model/doctrine/base/*
lib/model/doctrine/*Plugin
lib/form/doctrine/base/*
lib/form/doctrine/*Plugin
lib/filter/doctrine/base/*
lib/filter/doctrine/*Plugin
data/sql
cache
